a.out
*.z?
*.txt
*.dbg
*.save
tinyz.tab.*
tinyz.output
tinyz.debug.tab.*
tinyz.debug.output
*.o
zdis
tinyzterp
tinyzterpd
tinyzterpd.dSYM/
tinyzc
tinyzcd
tinyzcd.dSYM/
.DS_Store
makedsk
*.bin
*.do
*.po
*.lst
myapple2/myapple2.dSYM/
